<div class="container homepage-wells">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<div class="well homepage-boxes">
				<h1 class="text-center">About Us</h1>
				<p class="about-page">Polestar Overseas Military Car-Finder was created in order to make life easier for all military personnel stationed overseas. We know trying to find the right vehicle in a new country can be stressful, so we are here to guide you through it!</p><br />
				<p class="about-page">Polestar is a hub for different dealerships to show off what they have available all in one place, so that you no longer have to sift through countless individual sites and an endless number of pages on social media. Here, you can see an un-biased, hassle-free, spam-free list of what's around and we let the vehicles do the talking.</p>

				<% if !user_signed_in? %>
				<h4 class="text-center">Are you a military car sales company? Create a Polestar Dealership Account to start listing your vehicles:</h4>
				<%= link_to "Sign Up!", new_user_registration_path(plan: @dealer_plan), class: "btn btn-danger btn-block" %>
				<% end %>
				
			</div>
		</div>
	</div>	
</div>
