<div class="container">
	<% if !user_signed_in? %>
		<div class="row">		
			<div class="well dealer-signup">
				<h4 class="text-center">Do you own/work at a military car sales company? Create a Polestar Dealership Account to start listing your vehicles: 
					<%= link_to "Sign Up!", new_user_registration_path(plan: @dealer_plan), class: "btn btn-danger btn-md" %></h4>
			</div>		
		</div>
	<% end %>	
	<div class="row">		
		<div class="well inventory-well">
			<h2 class="text-center">Shopping for a new vehicle?</h2>
			<h4 class="text-center">Follow the link below to see what's out there.</h4>
			<h3 class="text-center">It's free!</h3>
			<%= link_to "Go to Inventory", '#', class: "btn btn-success btn-lg btn-block" %><br/>
			<p>Polestar exists to make your life easier. All overseas military car dealerships can 
				list their vehicles on one easy-to-navigate site, so you'll no longer have
				to kick tires on lemon lots, sift though endless 'yard sale' Facebook pages
				and search countless individual dealership sites.</p>
		</div>
	</div>
</div>
