<div class="container">
	<div class="well homepage-boxes">
		<div class="row">		
			<div class="col-md-8 col-md-offset-2">
				<h1 class="text-center">Rules</h1>

				<br />

				<p class="about-page">To keep the site fair and enjoyable to use for everybody, please 
					keep these few simple rules in mind. Failure to do so may result in the termination
					of your account.</p>
			</div>
		</div>

		<br />

		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<ul class="about-page">
					<li>Please post only vehicles</li>
					<br />
					<li>Post each vehicle only once</li>
					<br />
					<li>Consider removing sold vehicles in a timely manner</li>
					<br />
					<li>Please make sure your photos are good quality and appear at least somewhat professional</li>
					<br />
					<li>Absolutely NO adult content</li>
				</ul>
			</div>			
		</div>

		<div class="row">		
			<div class="col-md-8 col-md-offset-2">
				<h2 class="text-center">Thanks = and happy selling!</h2>
			</div>
		</div>

		<br />

	</div>
</div>	
