@import 'bootstrap-sprockets';
@import 'bootstrap';
@import "font-awesome-sprockets";
@import "font-awesome";

html {
	position: relative;
	height: 100%;
}

body {
	position: relative;
	min-height: 100%;
	background: url('/cars.jpg');
	background-color: rgb(242, 242, 242);
	background-size: cover;	
}

h1, h2, h3, h4 {
	font-family: 'Ubuntu', sans-serif;
}

footer {
	height: 40px;
	width: 100%;
	position: absolute;
	padding-top: 5px;
	padding-bottom: 5px;
	bottom: 0;
	background-color: rgb(242, 242, 242);
}

// Layout
#main-header {
	color: white;
}
#slogan {
	color: white;
}

.page-header, .navbar {
	color: white;
	border: none;
	text-align: center;
	background: #485563; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #485563 , #29323c); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #485563 , #29323c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
}

.page-header {
	position: static;
	margin: -5px;
	padding-bottom: 0;
}

.navbar-default .navbar-brand, .navbar-default .navbar-nav > li > a, {
	font-size: 120%;
	font-family: 'Ubuntu', sans-serif;
	color: white;
	&:hover {
		color: white;
		opacity: 0.4;
	}
}

.navbar {
	margin-bottom: none;
	border-bottom: 1px solid gray;
}

.flash-container {
	position: relative;
	width: 100%;
	font-style: black;
}

.alert, .alert-alert {
	text-align: center;
	background-color: rgb(225, 229, 237);
	border: 1px solid gray;
}

.well {
	margin-top: 20px;
	background-color: rgb(225, 229, 237);
	margin-bottom: 10px;
}

.inventory-well {
	margin-top: -5px;
	padding-top: 0;
}

.footer {
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	display: inline;
	vertical-align: middle;
}

// Homepage
.homepage-signup {
	position: static;
	background-color: black;
	border-bottom: 1px solid gray;
	width: 100%;
	color: white;
	margin-top: -35px;
	margin-bottom: 15px;
	padding: 10px;
}

.homepage-car-img {
	display: block;
	max-width: 100%;
	max-height: 100%;
	margin-left: auto;
  margin-right: auto;
  border: 2px solid gray;
}

.homepage-well {
	margin-top: 15px;
	margin-bottom: 15px;
	padding-top: 10px;
	padding-bottom: 20px;
}

// About page
.about-page {
	font-size: 130%;
}

.about-signup {
	padding: 15px 5px 25px 5px;
	margin-top: 25px;
	margin-bottom: 25px;
	border: 1px solid gray;
}

// Profile page
.avatar-img {
	width: 128px;
	height: 128px;
	display: block;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #0099cc;
}

.dealer-name {
	margin-top: -5px;
}

.dealer-field {	
	border-radius: 5px;
	border: 1px solid #0099cc;
	background-color: white;
	text-align: center;
}

// Car show page

.car-img {
	display: block;
	max-width: 100%;
	max-height: 100%;
	margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
  border: 1px solid gray;
}


// Car index
.car-index-image {
	width: 165px;
	height: 150px;
	border: 1px solid gray;
}

.pages-well {
	width: 100%;
	border-top: 1px solid gray;
	margin-bottom: 0;
	background-color: rgb(242, 242, 242);
}

// User index page
.user-index-avatar {
	width: 128px;
	height: 128px;
	border: 1px solid gray;
	border-radius: 50%;
}

.white-bg {
	background-color: white;
}
